@import '../../../variable.scss';

.design-description {
  background-color:white;
  padding:24px 32px;
  // height:130px;
  // height: 176px;
  .first-row {
    color: $font-color-deep;
    font-size:34px;
    font-weight: $font-weight-bold;
  }
    .author-section {
      display: flex;
      align-items: center;
      margin-top:16px;
    }
    .second-row-avatar {
      margin-right: 10px;
    }
    .avatar-image {
      width:56px;
      height:56px;
      border-radius: 51%;
    }
    .second-row-views {
      margin-right: 50px;
    }
    .second-row-authorname {
      flex:1;
    }
    .accordion-body {
      color:$font-color-deep;
      font-size: 26px;
      font-weight: 'normal';
      line-height: 40px;
      margin-top:24px;
    }
  }
